.cat-programs {
  list-style: none;
  padding: 0;

  &__item {
    padding: 20px;
    width: 280px;
    height: 266px;
    background-color: #F2F2F2;

    &:first-child {
      margin-bottom: 20px;
    }

    h3 {
      font-weight: 400;
      font-size: 24px;
      line-height: 37px;
      text-transform: uppercase;
      padding-left: 70px;

      color: #000000;
    }

    p {
      font-family: Arial, Tahoma, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #444444;
      padding-bottom: 25px;
      border-bottom: 1px solid #D9D9D9;
      margin-bottom: 15px;
    }

    a {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 16px;
      text-transform: uppercase;
      color: #000000;
      text-decoration: none;
    }

  }
}


