.catalog {
  &__item {
    width: 280px;
    margin-bottom: 15px;

    &--bg-gray {
      background-color: #F2F2F2; //создала модификатор, но он пока не используется в коде
    }

    &--text-regular {
      color: #444444;
    }


    &-link {
      text-decoration: none;
      display: block;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      background-color: #68B738;
      padding: 12px 0;
    }

    h3 {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      color: #222222;
    }

    table {
      width: 100%;
    }

    td {
      font-family: Arial, Tahoma, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      width: 50%;
      text-align: left;

      &:last-child {
        text-align: right;
      }
    }

    &-body {
      display: flex;
    }

    &--last {
      text-align: center;

      h3 {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        color: #111;
        margin: 0;
        margin-bottom: 8px;
      }

      p {
        font-family: Arial, Tahoma, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 20px;
        color: #444444;
      }
    }

    &-show-more {
      background-color: #f2f2f2;
      font-size: 16px;
      // text-align: center;
      text-transform: uppercase;
      color: #444444;
      line-height: 0;
      padding: 20px;
      width: 280px;
      border: none;
      margin-bottom: 25px;
    }
  }
}
