.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F2F2F2;

  &__logo {
    margin-bottom: 32px;
    margin-top: 39px;
  }

  .social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;
    width: 280px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 22px;

    &__item {
      .social {
        &-vk,
        &-ins,
        &-fb {
          display: block;
          background-repeat: no-repeat;
          margin: 0 18px;
        }

        &-vk {
          height: 16px;
          width: 23px;
          background-image: url("../img/icon-vk.svg");
        }

        &-ins {
          height: 16px;
          width: 16px;
          background-image: url("../img/icon-insta.svg");
        }

        &-fb {
          height: 22px;
          width: 22px;
          background-image: url("../img/icon-fb.svg");
          margin-right: 0;
        }
      }
    }
  }

  .copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    margin-bottom: 22px;

    &__brand {
      font-family: Arial;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
      color: #444444;
      text-decoration: none;
    }

    &__logo {
      height: 34px;
      width: 27px;
      fill: #666666;
    }
  }
}
