.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 480px;
  position: relative;

  &__bg {
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    bottom: 305px;
    height: 305px;
    width: 320px;
    z-index: -1;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-color: #68B738;
    background-repeat: no-repeat;
    background-position: top center;
  }
}
