*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', Arial, sans-serif;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  display: none;
}

h1 {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin: 0;
}

.nav-button {
  position: relative;
  border: 0;
  width: 24px;
  height: 18px;
  background-color: #fff;

  &__hamburger,
  &__hamburger::before,
  &__hamburger::after {
    position: absolute;
    left: 0;
    content: "";
    height: 2px;
    width: 24px;
    background-color: #000;
  }

  &__hamburger::before {
    top: -8px;
  }

  &__hamburger::after {
    bottom: -8px;
  }
}


